.companymanagerpermissions-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

.new-request-form,
.requests-list {
  margin-left: 10px;
  font-size: 1.1em;
  color: #333;
}

.new-request-form input,
.new-request-form select,
.new-request-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus, select:focus, button:focus {
  outline: none !important;
  border: 2px solid #007bff !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
  background-color: #ffffff !important;
  color: #000 !important;
}

.new-request-form button {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  cursor: pointer;
}

.new-request-form button:hover {
  background-color: #f1f1f1;
  color: #333;
}

.requests-list {
  margin-top: 20px;
}

.requests-list table {
  width: 100%;
  border-collapse: collapse;
}

.requests-list table, th, td {
  border: 1px solid #ddd;
}

.requests-list th, td {
  padding: 10px;
  text-align: center;
}

.requests-list th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
}

button:hover {
  background-color: #f1f1f1;
}

button:active {
  background-color: #e0e0e0;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:nth-child(1),
button:nth-child(2),
button:nth-child(3),
button:nth-child(4) {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

button:nth-child(1):hover,
button:nth-child(2):hover,
button:nth-child(3):hover,
button:nth-child(4):hover {
  background-color: #f8f8f8;
  color: #333;
}

button:nth-child(1):active,
button:nth-child(2):active,
button:nth-child(3):active,
button:nth-child(4):active {
  background-color: #e0e0e0;
  color: #333;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 20px;
  cursor: pointer;
}

select {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
}

select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
